.main {
	max-width: 60rem;
	margin: 4rem auto;
	padding: 0 1rem;
}

.main .h1 {
	font-size: 3rem;
}

.main .h3 {
	font-size: 1rem;
	font-family: var(--ifm-font-family-base);
}

.main .options-and-uppy {
	position: relative;
	border-radius: 5px;
	margin-bottom: 1rem;
	box-shadow:
		rgb(255, 255, 255) 0px 0px 0px 0px,
		rgba(17, 24, 39, 0.05) 0px 0px 0px 1px,
		rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
}

.main input[type='checkbox'] {
	accent-color: #f37;
}

.main input[type='checkbox']:not(:checked, :disabled):hover + label {
	color: black;
}

.main input[type='checkbox']:disabled:hover,
.main input[type='checkbox']:disabled:hover + label {
	cursor: not-allowed;
}

.main select {
	grid-column: 1 / 3;
	background: white;
	padding: 0.2rem 1rem;
	font-size: 1rem;
	border: 1px solid lightgray;
	border-radius: 5px;
}

.header {
	display: flex;
	align-items: baseline;
	gap: 1rem;
	margin-top: 2rem;
}

.header h2,
.header p {
	margin-bottom: 0.5rem;
}

.options {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 1rem;
	min-height: 500px;
	max-width: 30rem;
	border-radius: 5px;
	padding: 1rem;
}

.options-wrapper > div {
	display: flexl;
	align-items: center;
	margin: 0.25rem 0;
}

@media screen and (min-width: 60rem) {
	.main {
		padding: 0;
	}
	.options {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 0.5rem;
		align-items: center;
	}
	.options > div:first-of-type {
		grid-column: 1 / 3;
	}
	.options-wrapper[wrapper-for='Remote sources'] {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.main > section {
		display: grid;
		grid-template-columns: minmax(20rem, 1fr) 2fr;
	}
}

.dashboard-inner {
	position: relative;
	z-index: 1;
}
