/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src:
		local('IBM Plex Mono'),
		local('IBMPlexMono'),
		url('/fonts/IBMPlexMono-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src:
		local('IBM Plex Mono SemiBold'),
		local('IBMPlexMono-SemiBold'),
		url('/fonts/IBMPlexMono-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src:
		local('IBM Plex Sans Regular'),
		local('IBMPlexSans-Regular'),
		url('/fonts/IBMPlexSans-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src:
		local('IBM Plex Sans Italic'),
		local('IBMPlexSans-Italic'),
		url('/fonts/IBMPlexSans-Italic.woff2') format('woff2');
}
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src:
		local('IBM Plex Sans SemiBold'),
		local('IBMPlexSans-SemiBold'),
		url('/fonts/IBMPlexSans-SemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src:
		local('IBM Plex Sans SemiBoldItalic'),
		local('IBMPlexSans-SemiBoldItalic'),
		url('/fonts/IBMPlexSans-SemiBoldItalic.woff2') format('woff2');
}

/* You can override the default Infima variables here. */
:root {
	tab-size: 2;
	--ifm-color-primary: #f37;
	--ifm-color-primary-dark: #29784c;
	--ifm-color-primary-darker: #277148;
	--ifm-color-primary-darkest: #205d3b;
	--ifm-color-primary-light: #33925d;
	--ifm-color-primary-lighter: #359962;
	--ifm-color-primary-lightest: #3cad6e;
	--ifm-code-font-size: 95%;
	--ifm-font-size-base: 18px;
	--ifm-font-family-base: 'IBM Plex Sans', serif;
	--ifm-font-family-monospace: 'IBM Plex Mono', mono-space;
	--ifm-heading-font-family: 'IBM Plex Sans', sans-serif;
	--ifm-heading-font-weight: 600;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
	--ifm-avatar-photo-size: 1.2rem;
	--ifm-avatar-intro-margin: 0.5rem;
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
	:root {
		--ifm-font-size-base: 16px;
	}
}

.markdown > h4:not(:first-of-type) {
	margin-top: calc(
		var(--ifm-heading-vertical-rhythm-top) * var(--ifm-leading) * 2
	);
}

code {
	border: none;
	vertical-align: initial !important;
}

p > code {
	vertical-align: initial !important;
}

/*
* Admonitions have long generated class names.
* We want to change the heading font, but it's not an config option.
*/
div[class^='admonitionHeading'],
div[class*=' admonitionHeading'] {
	font-family: var(--ifm-font-family-base);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
	--ifm-color-primary: #f37;
	--ifm-color-primary-dark: #21af90;
	--ifm-color-primary-darker: #1fa588;
	--ifm-color-primary-darkest: #1a8870;
	--ifm-color-primary-light: #29d5b0;
	--ifm-color-primary-lighter: #32d8b4;
	--ifm-color-primary-lightest: #4fddbf;
}

.docusaurus-highlight-code-line {
	background-color: rgba(0, 0, 0, 0.1);
	display: block;
	margin: 0 calc(-1 * var(--ifm-pre-padding));
	padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
	background-color: rgba(0, 0, 0, 0.3);
}

/* Blog */

.avatar__name {
	font-weight: 500;
}

/* Content Body */

.markdown video,
.markdown img {
	max-width: 100%;
}

.markdown img.border {
	border: 1px solid rgba(165, 165, 165, 0.3);
}

div[data-uppy-element='dropzone'] p {
	margin-bottom: 0;
}
